In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
patient_data = pd.read_csv("C:\\Users\\kaido.kariste\\Documents\\GitProjects\\github.com\\Data-Science\\example_datasets\\patients.csv")

In [9]:
patient_data.head() #show first rows in patient data dataframe

   Age   BMI  Gender Diabetic
0   25  25.0    Male       No
1   55  31.0  Female      Yes
2   40  28.0    Male      Yes
3   61  24.0    Male       No
4   24   NaN  Female       No

In [10]:
features = patient_data.iloc[:,0:3] #take all the rows and first three columns from patient data dataframe

In [11]:
features.head()

   Age   BMI  Gender
0   25  25.0    Male
1   55  31.0  Female
2   40  28.0    Male
3   61  24.0    Male
4   24   NaN  Female

In [12]:
labels = patient_data.iloc[:,3]

## Handling missing values

In [13]:
from sklearn.impute import SimpleImputer # Import imputer class from sklearn.preprocessing libary
imputer = SimpleImputer(missing_values=np.NAN, strategy = 'mean', verbose=0) #create object(instance) of imputer class. axis 0 is column axis, axis 1 is row axis
imputer = imputer.fit(features.iloc[:,1:2]) #
features.iloc[:,1:2] = imputer.transform(features.iloc[:,1:2])

In [14]:
print(features)

    Age        BMI  Gender
0    25  25.000000    Male
1    55  31.000000  Female
2    40  28.000000    Male
3    61  24.000000    Male
4    24  34.363636  Female
5    35  35.000000    Male
6    52  32.000000    Male
7    67  26.000000  Female
8    44  27.000000    Male
9    19  22.000000  Female
10   58  89.000000  Female
11   48  39.000000    Male

## Handling categorical data

In [22]:
from sklearn.preprocessing import LabelEncoder
labelencoder_features = LabelEncoder(); #Create new instance for lableencoding
features.iloc[:,2] = labelencoder_features.fit_transform(features.iloc[:,2]) #transform all rows in second column and overwrite it

In [23]:
print(features)

    Age        BMI  Gender
0    25  25.000000       1
1    55  31.000000       0
2    40  28.000000       1
3    61  24.000000       1
4    24  34.363636       0
5    35  35.000000       1
6    52  32.000000       1
7    67  26.000000       0
8    44  27.000000       1
9    19  22.000000       0
10   58  89.000000       0
11   48  39.000000       1

In [33]:
labels = labelencoder_features.fit_transform(labels)

In [34]:
print(labels)

[0 1 1 0 0 1 1 0 0 0 1 1]

## Dividing data into training and tests sets

In [36]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 0)

In [37]:
print(train_features)

    Age   BMI  Gender
10   58  89.0       0
2    40  28.0       1
8    44  27.0       1
1    55  31.0       0
7    67  26.0       0
9    19  22.0       0
3    61  24.0       1
0    25  25.0       1
5    35  35.0       1

In [39]:
print(test_labels)

[1 1 0]

## Scaling the data

In [42]:
from sklearn.preprocessing import StandardScaler
feature_scaler = StandardScaler()
train_features = feature_scaler.fit_transform(train_features)
test_features = feature_scaler.transform(test_features)

In [44]:
print(train_features)

[[ 0.83652186  2.77984695 -1.11803399]
 [-0.31192341 -0.30949713  0.89442719]
 [-0.05671335 -0.36014212  0.89442719]
 [ 0.64511432 -0.15756218 -1.11803399]
 [ 1.41074449 -0.4107871  -1.11803399]
 [-1.65177621 -0.61336704 -1.11803399]
 [ 1.0279294  -0.51207707  0.89442719]
 [-1.26896113 -0.46143209  0.89442719]
 [-0.63093598  0.04501776  0.89442719]]

In [45]:
print(test_features)

[[ 0.45370677 -0.10691719  0.89442719]
 [ 0.19849671  0.2475977   0.89442719]
 [-1.33276364  0.01278914 -1.11803399]]