## Importing required libaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Importing the dataset

In [2]:
car_data = pd.read_csv("C:\\Users\\kaido.kariste\\Documents\\GitProjects\\github.com\\Data-Science\\example_datasets\\car_price.csv")

In [3]:
car_data.head()

   Year  Price
0  1980   2000
1  1985   3000
2  1983   2200
3  1990   3700
4  1995   4500