In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
patient_data = pd.read_csv("C:\\Users\\kaido.kariste\\Documents\\GitProjects\\github.com\\Data-Science\\example_datasets\\patients.csv")

In [7]:
patient_data.head() #show first rows in patient data dataframe

   Age   BMI  Gender Diabetic
0   25  25.0    Male       No
1   55  31.0  Female      Yes
2   40  28.0    Male      Yes
3   61  24.0    Male       No
4   24   NaN  Female       No

In [9]:
features = patient_data.iloc[:,0:3] #take all the rows and first three columns from patient data dataframe

In [10]:
features.head()

   Age   BMI  Gender
0   25  25.0    Male
1   55  31.0  Female
2   40  28.0    Male
3   61  24.0    Male
4   24   NaN  Female

In [11]:
labels = patient_data.iloc[:,3]

In [28]:
from sklearn.impute import SimpleImputer # Import imputer class from sklearn.preprocessing libary
imputer = SimpleImputer(missing_values=np.NAN, strategy = 'mean', verbose=0) #create object(instance) of imputer class. axis 0 is column axis, axis 1 is row axis
imputer = imputer.fit(features.iloc[:,1:2]) #
features.iloc[:,1:2] = imputer.transform(features.iloc[:,1:2])

In [31]:
print(features)

    Age        BMI  Gender
0    25  25.000000    Male
1    55  31.000000  Female
2    40  28.000000    Male
3    61  24.000000    Male
4    24  34.363636  Female
5    35  35.000000    Male
6    52  32.000000    Male
7    67  26.000000  Female
8    44  27.000000    Male
9    19  22.000000  Female
10   58  89.000000  Female
11   48  39.000000    Male